
//color:
$strong_green : #00c193;
$light_green : #63ffd4;
$strong_grey : #b9b9b9;
$light_grey : #f1f1f1;
$purple : #5f24ed;
$red : #ff7272;
$player_grey : #4c4c4d;
$nav_gradiant: linear-gradient(#ffffff, #e7e4ff);
$input_validation : #b3ff2d;

//opacity:
$circle14 : rgba($light_green, 0.14);
$white22 : rgba(#ffffff,0.22);
$purple41 : rgba($purple,0.41);


// Font:
$font_family : 'Roboto', sans-serif;
$h1 : 1.550em , medium;
$h2 : 1.550em, medium;
$h3 : 1.550em, medium;
$h4 : 0.950em, medium;
$btn : 1em, bold;
$link_account : 0.950em medium;
$label_input : 0.950em, medium;
$error : 0.8em, regular;
$player_time : 0.950em, medium;
$ul : 1.1em, medium;
$p_text : 1em, regular;
