.album{
    width: 100%;
}

h2{
    margin-left: 25%;
}

.name{
    margin-left: 40%;
}

.file{
    margin-left: 25%;
}


.repeat{
    width: 20px;
    border-top: 50%;
}

.jacket{
    display: flex;
}

.one{
    width: 30%;
    margin-left: 40%;
}

.two{
    width: 30%;
}

#btn-play{
    border: 1px solid black;
    width: 80px;
    display: inline-block;
    height: 10px;
}

.play, .next, .random{
    
    width: 40px;
    height: 40px;
    opacity: 0.3;
}

#button{
    margin-top: 20px;
}