
//color:
$strong_green : #00c193;
$light_green : #63ffd4;
$strong_grey : #b9b9b9;
$light_grey : #f1f1f1;
$purple : #5f24ed;
$red : #ff7272;
$player_grey : #4c4c4d;
$input_validation : #b3ff2d;
// dégradé
$nav_gradiant: linear-gradient(0.25turn, #ffffff, #e7e4ff);

//opacity:
$circle14 : rgba($light_green, 0.14);
$white22 : rgba(#ffffff,0.22);
$purple41 : rgba($purple,0.41);

// Font:
$font_family : 'Roboto', sans-serif;
$h1 : 1.550em ;
$h2 : 1.550em;
$h3 : 1.550em;
$h4 : 0.950em;
$btn : 1em;
$link_account : 0.950em;
$label_input : 0.950em;
$error : 0.8em;
$player_time : 0.950em;
$ul : 1.1em;
$p_text : 1em;
