@import '_variables';

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    nav {
        background: $navGradient;
        opacity: 0.14;
        text-align: center;
        padding: 1vh;
        img {
            width: 32px;
            padding: 1vh 3vh;
        }
    }
}


