@import 'nav';

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    background: $purpleGradient;
    background-repeat: no-repeat;
}
/* entête : affichage du titre */
header {
    margin-top: 3vh;
    margin-left: 4vh;
    h1 {
        color: $light_grey;
        font-size: 1.5em;
        font-weight: 500;
    }
}

/* Barre de recherche */
/* section de recherche */
#sect-search {
    margin-top: 6vh;
    margin-left: 35%;
    color: $light_grey;

    a {
        text-decoration: none;
        color: $light_grey;
    }
    img {
        width: 24px;
    }

    label {
    /* libellé de la barre de recherche */
        font-size: 1em;
        font-weight: 500;
        display: block;
    }

    input {
    /* barre de recherche (input) */
        background-color: #140141;
        opacity: 0%;
    }
    #flex-dot {
        display: flex;
        justify-content: end;
        gap: 2vh;
        #dot {
            /* $dotSearch: #2ECBB8; */
            width: 1vh;
            height: 1vh;
            background-color: $dotSearch;
            border-radius: 50%;
        }
    
        hr {
            width: 100%;
            border-bottom-color: $light_grey;
        }
    }

}



/* Images défilantes*/
.scroller {
    width: 100%;
    display: flex;
    gap: 1vh;
    padding-top: 2vh;
    img {
        width: 150px;
        height : 150px;
    }
    overflow-x: scroll;
}

/* Mosaique */
h4 {
    color: $light_grey;
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 2vh;
}
#div-8 {
    img {
        width: 80px;
        height : 80px
    }
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding-left: 2vh;
    .div-4 {
        display: flex;
        flex-direction: row;
        gap:1vh;
    }
}

