//color:
$strong_green : #00c193;
$light_green : #63ffd4;
$strong_grey : #b9b9b9;
$light_grey : #f1f1f1;
$purple : #5f24ed;
$red : #ff7272;
$player_grey : #4c4c4d;
$input_validation : #b3ff2d;
// dégradé
$nav_gradiant: linear-gradient(0.25turn, #ffffff, #e7e4ff);

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: $red;
}
header {
    background-color: $red;
    margin: 0;
}
h1 {
    color: $light_grey;
    font-size: 2em;
    font-weight: 500;
    padding-top: 6vh;
    padding-left: 2vh;
}

/* search */
#sect-search {
    margin-top: 10vh;
    margin-bottom: 3vh;
    margin-left: 35%;
    color: $light_grey;
    font-weight: 500;
    label {
        font-size: 1em;
        font-weight: 500;
        display: block;
    }
}

#bar-search {
    background-color: $red;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid;
    border-bottom-color: $light_grey;
}



/* Carousel images défilantes*/
.div-carousel {
    img {
        width: 200px;
        height : 200px
    }
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #f8a7a7;
}

/* Mosaique */

h4 {
    color: $light_grey;
    font-size: 1.2em;
    font-weight: 500;
    padding-top: 6vh;
    padding-left: 2vh;
}
.div-8 {
    img {
        width: 80px;
        height : 80px
    }
    display: flex;
    flex-direction: column;
    gap:3vh;
    padding-left: 1.5vh;
    padding-bottom: 5vh;
    .div-4 {
        display: flex;
        flex-direction: row;
        gap:3vh;
    }
}


@import 'nav.scss';